
:root {
    /* font-size */
    --fs-sm: 14px;
    --fs-md: 15px;
    --fs-lg: 16px;
  

    /* font-weight */
    --fw-sm: 400;
    --fw-md: 600;
    

    /* font-family */
    --ff-1: 'Poppins', sans-serif;

    /* color */
    --clr-white: #FFF;
    --clr-black: #040404;
    --clr-gray: #4d4d4d;
    --clr-red: #C2190E;
 
}

/* size */
.fs-sm {
    font-size: var(--fs-sm);
}
.fs-md {
    font-size: var(--fs-md);
}
.fs-lg {
    font-size: var(--fs-lg);
}



/* weight */
.fw-sm {
    font-weight: var(--fw-sm);
}

.fw-md {
    font-weight: var(--fw-md);
}

/* family */
.ff-1 {
    font-family: var(--ff-1);
}


/* color */
.clr-white {
    color: var(--clr-white);
}

.clr-black {
    color: var(--clr-black);
}
.clr-gray {
    color: var(--clr-gray);
}
.clr-red {
    color: var(--clr-red);
}
