@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url(./root.css);

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

.nav-click:hover {
    color: var(--clr-red);
    -webkit-text-stroke: .6px var(--clr-red);
}

.nav-btn {
    padding: 6px 22px;
    background: var(--clr-red);
    border-radius: 17.5px;
    border: 2px solid transparent;
}

.nav-btn:hover {
    color: var(--clr-black);
}

.nav-gap {
    gap: 8px;
}

.cross-1 {
    rotate: 45deg;
    transition: .4s;
}

.cross-2 {
    position: relative;
    transition: .4s;
    top: -80%;
    rotate: -45deg;
}

.cross-4 {
    transition: .4s;
}

.cross-5 {
    transition: .4s;
}

.cross-6 {
    transition: .4s;
}

.cross-3 {
    display: none !important;
}

.ul {
    padding-left: 0 !important;
}

nav ul li a {
    position: relative;
}

nav ul li ::before {
    content: '';
    position: absolute;
    background: #C2190E;
    width: 0;
    height: 1px;
    bottom: 0;
    left: 50%;
    transition: all 400ms linear;
}

nav ul li a:hover::before {
    left: 0;
    width: 100%;

}


/* main */

.font-style-normal {
    font-style: normal;
}

.main-para {
    max-width: 1146px;
}

.flow-hidden {
    overflow: hidden;
}

.main-my {
    margin-top: 60px;
    margin-bottom: 60px;
}

.grid-mb {
    margin-bottom: 60px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(34, 5vw);
    grid-gap: 12px;
}

.grid-hv {
    transition: all 300ms linear;
}

.grid-hv:hover {
    transform: scale(105%);
}

.gallery-image {
    border-radius: 16px;
    overflow: hidden;
}


.grid-item1 {
    grid-column: 1/9;
    grid-row: 1/5;
}

.grid-item2 {
    grid-column: 1/9;
    grid-row: 5/9;
}

.grid-item3 {
    grid-column: 1/9;
    grid-row: 9/13;
}

.grid-item4 {
    grid-column: 1/9;
    grid-row: 13/17;
}

.grid-item5 {
    grid-column: 1/9;
    grid-row: 17/22;
}

.grid-item6 {
    grid-column: 1/9;
    grid-row: 22/26;
}

.grid-item7 {
    grid-column: 1/9;
    grid-row: 26/30;
}

.grid-item8 {
    grid-column: 1/9;
    grid-row: 30/35;
}

/* footer */
.bg-black {
    background-color: var(--clr-black);
}

.w_100 {
    width: 100%;
}

.ftr-para-1 {
    line-height: normal;
    max-width: 350px;
}

.pt-40 {
    padding-top: 40px;
}

.pb-sm-20 {
    padding-bottom: 20px;
}

.ftr-para-2 {
    line-height: 180%;
}

.pt-sm-10 {
    padding-top: 10px;
}

.line-ft {
    width: 100%;
    color: var(--clr-white);
    height: 1px;
}

.ft-img {
    max-width: 280px;
}

.w-sm-25 {
    width: 70%;
}

/* nav-media */

@media (max-width:1199.7px) {
    label[id="menuIcon"] {
        width: 30px;
        height: 24px;
        cursor: pointer;
        display: flex;
        position: absolute;
        right: 2%;
        top: 4%;
        justify-content: space-between;
        flex-direction: column;
        z-index: 5;
        align-items: center;

    }

    label[id="menuIcon"]>span {
        width: 100%;
        height: 5px;
        background: #9E3040;
    }

    .nav-flip {

        flex-direction: column !important;
        justify-content: center;
        align-items: center;
        top: 0;
        left: -100%;
        position: fixed;
        opacity: 1;
        width: 100%;
        max-width: 400px;
        height: 100%;
        background: white;
        z-index: 3;
        box-shadow: 0px 0px 19px 9px rgba(0, 0, 0, 0.10);
        transition: all 500ms linear;

    }

    .fix-lft {
        left: 0;
    }
}



@media (min-width:575.8px) {
    .w_100 {
        width: 80%;
    }

    .w-sm-25 {
        width: 50%;
    }
}

@media(min-width: 768px) {
    :root {
        /* font-size */
        --fs-sm: 14px;
        --fs-md: 15px;
        --fs-lg: 16px;
    }

    /* main */

    .line-height-180 {
        line-height: 180%;
    }

    .grid-item1 {
        grid-column: 1/4;
        grid-row: 1/4;
    }

    .grid-item2 {
        grid-column: 4/9;
        grid-row: 1/4;
    }

    .grid-item3 {
        grid-column: 1/6;
        grid-row: 4/7;
    }

    .grid-item4 {
        grid-column: 6/9;
        grid-row: 4/7;
    }

    .grid-item5 {
        grid-column: 1/5;
        grid-row: 7/12;
    }

    .grid-item6 {
        grid-column: 5/9;
        grid-row: 7/11;
    }

    .grid-item7 {
        grid-column: 1/5;
        grid-row: 12/16;
    }

    .grid-item8 {
        grid-column: 5/9;
        grid-row: 11/16;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(15, 5vw);
        grid-gap: 24px;
    }

    .main-my {
        margin-top: 120px;
        margin-bottom: 120px;
    }

    .grid-mb {
        margin-bottom: 120px;
    }

}

@media (min-width:1200px) {
    .w-sm-25 {
        width: 25%;
    }
}

@media (min-width:991.8px) {
    .ftr-para-1 {
        line-height: 180%;
        max-width: 350px;
    }

    .pb-60 {
        padding-bottom: 60px;
    }

    .w_100 {
        width: 80%;
    }

    .pt-sm-10 {
        padding-top: 0;
    }
}